.text-copy
{
    text-align: center;
    margin-bottom: 10px;
}

.text-copy>p
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar
{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.footer-link
{
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 20px;
    transition: .5s all ease;
}

.footer-link:hover
{
    background-color: rgb(39, 58, 59);
}